app/dart_tool/
app/flutter-plugins
app/flutter-plugins-dependencies
app/pubspec.lock

app/build/

app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/ios/.generated/

app/android/app/debug/
app/android/app/profile/
app/android/app/release/

app/.vscode/

app/macos/Flutter/Flutter.framework
app/macos/Flutter/Flutter.podspec

app/web/.dart_tool/
app/web/index.html

app/*.log
app/*.tmp

server/*.log
